html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lama Sans', sans-serif;
}

#googleMap {
  min-height: 100vh;
}

#sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 11111;
  bottom: 0px;
  top: 0;
  right: unset;
  left: calc(100vw - 453px);
  width: 453px;
  height: 100%;
  padding-bottom: 24px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
  direction: ltr;
  user-select: none;
  overflow-y: scroll;
  opacity: 1;
  transition: left 0.25s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
}

#sidebar.active {
  display: flex !important;
}

#sidebar h1 {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  padding: 0 5%;
  color: rgb(34, 34, 34);
}

#sidebar img {
  margin-top: 25px;
  height: 254px;
  width: 100%;
  object-fit: cover;
}
#sidebar p {
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  margin-top: 25px;
  padding: 0 5%;
}
#sidebar a {
  margin-top: 25px;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-self: center;
  background: rgb(61 194 194);
  border-radius: 100px;
  padding: 17px 0px;
  font-size: 16px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  width: 90%;
  cursor: pointer !important;
}

#mobilebar {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 11111;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70vh;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
  user-select: none;
  overflow-y: auto;
  opacity: 1;
  transition: left 0.25s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
}

#mobilebar.active {
  display: flex !important;
}

#mobilebar h1
{
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    padding: 0 5%;
    color: rgb(34, 34, 34);
}

#mobilebar img
{
    margin-top: 25px;
    height: 490px;
    width: 100%;
    object-fit: cover;
}
#mobilebar p
{
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
    padding: 0 5%;
}
#mobilebar a
{
  margin-top: 25px;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  align-self: center;
  background: rgb(61 194 194);
  border-radius: 100px;
  padding: 22px 0px;
  font-size: 18px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  width: 75%;
  cursor: pointer !important;
}

/* #mobilebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  min-height: 600px; 
  background-color: rgb(255, 255, 255); 
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateY(
    100%
  ); 
}

#mobilebar.active {
  transform: translateY(
    0
  ); 
} */

.close-sidebar-button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  right: unset;
  left: calc(100vw - 495px);
  width: 42px;
  top: 11px;
  height: 42px;
  background: rgb(61 194 194);
  border-radius: 5px 0px 0px 5px;
  user-select: none;
  border: 1px solid #3dc2c2;
  color: #fff;
  font-size: 22px;
  cursor: pointer !important;
}

#filter-buttons {
  position: absolute;
  top: 40px;
  right: unset;
  left: 40px;
  display: flex;
  flex-flow: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  height: auto;
  direction: ltr;
  gap: 10px;
  max-width: 80%;
  user-select: none;
  z-index: 111;
}

#filter-buttons button {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 25px;
  gap: 8px;
  cursor: pointer;
  width: auto;
  height: 40px;
  color: rgb(34, 34, 34);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
  border-radius: 32px;
  transition: all 150ms ease-in-out 0s;
  text-transform: capitalize;
}

#filter-buttons button img {
  max-height: 20px;
  width: 20px;
}



.controlDivStyle {
  padding: 7px 0;
  position: absolute !important;
  right: unset !important;
  top: unset !important;
  left: 35px !important;
  bottom: 34px !important;
  margin-bottom: 8px;
  width: 32px;
  height: 66px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}

div {
  cursor: pointer !important;
}





.close-sidebar-mobile
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 42px;
    height: 42px;
    background: rgb(61 194 194);
    border-radius: 5px 0px 0px 5px;
    user-select: none;
    border: 1px solid #3dc2c2;
    color: #fff;
    font-size: 22px;
    cursor: pointer !important;
}
.zoom-in , .zoom-out
{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0 !important;
  width: 30px !important;
  cursor: pointer !important;
  height: 30px !important;
  font-size: 24px;
}
.zoom-out
{
  border-top: 1px solid rgb(146, 162, 177);
}
.zoom-controls
{
  padding: 7px 0;
    position: absolute !important;
    right: unset !important;
    top: unset !important;
    left: 35px !important;
    bottom: 34px !important;
    margin-bottom: 8px;
    width: 32px;
    height: 66px;
    background: rgb(255, 255, 255);
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}
.center-map
{
  width: 32px !important;
  height: 32px !important;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px !important;
  border-radius: 5px !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  border: 1px solid #fff;
  position: absolute;
  bottom: 127px;
  left: -74px;
}

.zoom-controls  div
{
  width: auto !important;
  height: auto !important;
}
.change-map-type
{
  background-color: rgb(255, 255, 255);
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 21.3333px 32px 8px;
  width: 42px !important;
  height: 42px !important;
  padding: 2px;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
  border-radius: 6px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  position: absolute;
  left: -31px;
  bottom: 43px;
}
.change-map-type img
{
  box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    border-radius: 6px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
@media only screen and (max-width: 769px) {
#sidebar {
  left: calc(100vw - 70%);
  width: 70%;
}
.close-sidebar-button {
  left: calc(100vw - 78.5%);
}
.close-sidebar-mobile {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #000 !important;
  font-size: 25px;
}
}

@media only screen and (max-width: 1245px)
{
/*
  #filter-buttons {
    top: 64px;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    right: unset;
    left: 0px;
    padding: 10px 30px 0px;
    background: rgba(0, 0, 0, 0.08);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 6px;
}
#filter-buttons::-webkit-scrollbar {
  width: 3px !important;
  background: #fff;
}*/
#filter-buttons > * {
  flex: 0 0 auto;
}
#filter-buttons button {
  font-size: 20px;
}
}
